{erl_opts, [no_debug_info]}.
{deps, [
    {epgsql, "4.7.1"}
]}.

{escript_incl_apps, [groupscholar_kpi_beacon, epgsql]}.
{escript_main_app, groupscholar_kpi_beacon}.
{escript_name, "gs-kpi-beacon"}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
